<div class = "num_of_contacts_bar">
  <p>There are 5 Contacts</p>
</div>
<% @contacts.each do |contact| %>
    <div class = 'bkg_color'>
      <p class = "contacts"><a href="/contacts/<%= contact.id %>"><%= contact.first_name %> <%= contact.last_name %> <%= contact.email %></a></p>
      <p class = "edit_delete"><a href='/contacts/:id/edit'>Edit</a> | <a href="#">Delete</a></p>
    </div>
  <% end %>
