<strong>First Name:</strong> <%= @contact.first_name %> <strong>Last Name: </strong><%= @contact.last_name %> <strong>email: </strong><%= @contact.email %><strong> Note:</strong><%= @contact.note %>

<p class = "edit_delete"><a href="#">Edit</a> | <a href="#">Delete</a></p>
</div>
