body {
  font-family: Arial; sans-serif;

}

h1 {
  background-color: black;
  padding: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.nav{
    border-width:1px 0;
    background-color: lightgrey;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    padding:10px;
}
